.Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-image: url("../../assets/forest-background.jpg");
    background-size: cover;
    background-position: bottom;

    padding: 10vh 5vw;
}

.Footer .Content {
    color: antiquewhite;
}

.Footer .foot-text {
    display: flex;
    justify-content: space-between;
}