.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-image: url("../../assets/space-background.jpg");
    background-size: cover;
    background-position: center;

    padding: 10vh 5vw;
}

.Header .Content {
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Header .Content .Name {
    font-family: 'Cinzel Decorative', sans-serif;
    font-size: 25px;
}