.Info {
    background-image: url('../assets/plane-background.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10vh 5vw;
}

.Heading {
    display: inline-block;
    font-family: 'Cinzel Decorative', sans-serif;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 25px;
    font-size: 30px;
}

.MiniHead {
    display: flex;
    padding: 0.5em;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 25px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 3em;
}

.Contact {
    padding-top: 5em;
}

.Body {
    justify-content: left;
    align-items: left;
}

.body {
    height: 500px;
    width: 500px;
}

.Input {
    justify-content: left;
    align-items: left;
    
}

.subject {
    margin-bottom: 1em;
}

.Icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3em;
}